/*UNIVERSAL STYLE*/
body{
    font-family: 'Open Sans', sans-serif;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*JUMBOTRON*/
.jumbotron-1{
  background:
  linear-gradient(#4a4b4c, transparent 90%),
  linear-gradient(0deg, #4a4b4c, transparent 90%),
  url(img/bg.jpg) no-repeat center;
  background-size: cover;
  padding: 15%;
  border-radius: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.myImage{
    height: 40%;
}

/*INFORMATION*/
.margin{
    margin-top: 5%;
}

.card-deck .image-resize{
    height: 100%;
}

#portfolio .jumbotron{
    margin-bottom: 0;
}

#skills{
    background:
    linear-gradient(#0d0d0d, transparent 90%),
    linear-gradient(0deg, #0d0d0d, transparent 90%),
    url(img/bg2.jpg) no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding: 8%;
}

.footer p{
    color: #000000;
}

.letterColor{
    color: #f4cc49;
}



/*  Break Points/Media Queries  */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

     /*NAVIGATION*/
    .navbar-toggleable-md {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler {
        margin-top: 5px;
    }

    .navbar-collapse .navbar-nav .nav-item{
        text-align: center;
    }

    .navbar-brand{
        margin: 7px;
    }

    .jumbotron-1{
        padding-bottom: 18%;

    }


    #portfolio{
        text-align: center;
    }

    .link{
        text-align: center;
        margin-top: 10px;
    }

    #skills .text-center{
        margin-top: 10px;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    /*NAVIGATION*/
    .navbar-toggleable-md {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler {
        margin-top: 5px;
    }

    .navbar-collapse .navbar-nav .nav-item{
        text-align: center;
    }

    .navbar-brand{
        margin: 7px;
    }

    .jumbotron-1{
        padding-bottom: 20%;

    }


    #portfolio{
        text-align: center;
    }

    .link{
        text-align: center;
        margin-top: 10px;
    }

    #skills .text-center{
        margin-top: 10px;
    }

 }


 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

    /*NAVIGATION*/
    .navbar-toggleable-md {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler {
        margin-top: 5px;
    }

    .navbar-collapse .navbar-nav .nav-item{
        text-align: center;
    }

    .navbar-brand{
        margin: 7px;
    }

        .jumbotron-1{
        padding-bottom: 20%;

    }


    #portfolio{
        text-align: center;
    }

    .link{
        text-align: center;
        margin-top: 10px;
    }

    #skills .text-center{
        margin-top: 10px;
    }

 }
